<div class="project mt-5">
    <div class="container-fluid">
        <div class="swiper mySwiper">

            <div class="swiper-wrapper">

                {% for project in projects %}
                    <div class="swiper-slide">
                        <img src="{{ project.image.url }}" alt="">
                    </div>
                {% endfor %}

            </div>

            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
    </div>

</div>